In [6]:
from sklearn.metrics.pairwise import cosine_similarity
from sentence_transformers import SentenceTransformer
import pandas as pd
import os
import pandas as pd
import numpy as np
from tqdm.notebook import tqdm

/Users/mikhailarkhipkin/anaconda3/envs/transformer/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
df1 = pd.read_csv('main1.csv')
df1.head()

,uid,full_name,email,address,sex,birthdate,phone
0,8357db00-b4ce-4c33-a66e-1842744d0ce4,БАЛКИБАЕВ Углы МАМАСАИД КАРЛИТО,mamasaid_balkibaev0@example.ru,"г. Урус-Мартан, пер. Шмидта, д. 233 к. 6/4, 63...",m,1954-06-15,8 (020) 645-0526
1,a40182ff-7b3c-4fe4-9455-505414bf6f1c,ИГИНОВА ЮТТА КОНДРАТЬЕВНП,jutta_iginova1@yandex.ru,"бул. Есенина, д. 2/3 стр. 180, 881977",f,1981-11-24,8 (197) 128-63-27
2,2b401a4a-33c0-47e0-b527-300e17b3a8da,МИРОДИЛОВ ЗАФЕР РОБЕРТ,zafer_mirodilov2@mail.ru,"ст. Красногорск (Моск.), ул. Урожайная, д. 4/9...",m,1954-07-03,+7 585 762 7855
3,a844b52d-6fc8-4aac-9180-092cf3cba7b0,5МИРОДИЛОВ ЗАФЕР РОБЕРТ,zafer_mirodilov2mail,"ст. Красногорск (Моск.), ул. Урожайная, д. 4/9...",m,954-01-01,+7 (585) 762 7855
4,95b72c05-1620-4f55-b3d4-c5151ff83184,БОРОВАЯ ШАХЗОДА НИКОЛАЕВНА,shahzoda_borovaja3@gmail.com,"к. Устюжна, ш. Инженерное, д. 1/7 к. 4, 782855",f,1989-07-15,+7 017 511 8662

In [3]:
df2 = pd.read_csv('main2.csv')
df2.head()

,uid,first_name,middle_name,last_name,birthdate,phone,address
0,fd0eb198-eeef-4ff9-a983-26dd9aebb084,МАМАСАИД,КАРЛИТО,БAЛKИБАEВ,1954-06-15,8 (020) 6450526,"г. Урус-Мартан, пер. Шмидта, д. 233 к. 6/4, 63..."
1,7ac130fe-690e-4e39-9b25-b141095f3eec,ЗАФЕР,РОБЕРТ,МИИРОДИЛОВ,1954-07-03,+7 (585) 762 7855,"ст. Красногорск (Моск.), ул. Урожайная, д. 4/9..."
2,f564db39-b7b1-4643-8d24-4759d5ba6ba5,ШАХЗОДА,НИКОЛАЕВНА,БОРОВАЯ,1989-07-15,511-86-62,"к. Устюжна, ш. Инженерное, д. 1/7 к. 4, 782855"
3,93c32877-6cf0-48f9-bb1e-c67794f08541,НУРСУЛУ,Неетт,КУРБОНОВА,2000-10-21,+7 (180) 759-21-51,"клх Кулу, пер. Кирова, д. 8 стр. 51, 713661"
4,a207993d-185f-4b86-bda6-6ce2c0c6a0ff,ЮРРИЙ,ЯКУП,КРИЛОВ,1965-05-31,66576,"с. Солнечногорск, ш. Краснопартизанское, д. 83..."

In [4]:
df3 = pd.read_csv('main3.csv')
df3.head()

,uid,name,email,birthdate,sex
0,9185f879-6289-4ad6-9cb0-ed7cb6cb652b,МАМАСАИД ЬАДКИБАЕВ,mamasaid_balkibaev0@example.ru,9145-06-15,m
1,289fcf9e-af05-43cf-a6d4-1d1d3cf5131f,ЮТТА ИГИНОВА,jutta_ihinova1;yanddx,1981-11-24,f
2,c2b04755-ebd8-4625-b8bb-4131ca049415,ЗАФЕР МИРОДИЛОВ,zafer_mirodilov2@mail.ru,1954,m
3,49978ae8-51fe-4a74-908e-22ec9e693855,ШАХЗОДА БОРОВАЯ,shahzoda_borovaja3@gmail.com,2989-07-15,f
4,75e199c5-86fa-4d3b-b1ea-783ecc26b021,НУРСУЛУ КУРБОНОВА,nursulu_kurbonova4@example.org,2000-10-21,f

In [7]:
model = SentenceTransformer('paraphrase-MiniLM-L6-v2')

/Users/mikhailarkhipkin/anaconda3/envs/transformer/lib/python3.10/site-packages/huggingface_hub/file_download.py:1142: FutureWarning: `resume_download` is deprecated and will be removed in version 1.0.0. Downloads always resume when possible. If you want to force a new download, use `force_download=True`.
  warnings.warn(

In [68]:
embeds = model.encode(['МИРОДИЛОВ ЗАФЕР РОБЕРТ', 'ЗАФЕР РОБЕРТ'])

In [69]:
cosine_similarity(embeds[0].reshape(1, -1), embeds[1].reshape(1, -1))

array([[0.8939271]], dtype=float32)

In [70]:
embeds_2 = model.encode(['5857627855', '7627855'])

In [71]:
cosine_similarity(embeds_2[0].reshape(1, -1), embeds_2[1].reshape(1, -1))

array([[0.8961959]], dtype=float32)

In [72]:
res = np.hstack((embeds, embeds_2))
res.shape

(2, 768)

In [73]:
res[1].shape

(768,)

In [74]:
cosine_similarity(res[0].reshape(1, -1), res[1].reshape(1, -1))

array([[0.8948267]], dtype=float32)

In [ ]:
df2/3.full_name, df2/3.birthdate
df1/3.full_name, df1/3.email, df1/3.sex, df1/3.birthdate
df1/2.full_name, df1/2.birthdate, df1/2.phone, df1/2.address

# Pipeline

In [24]:
def load_data() -> tuple[pd.DataFrame, pd.DataFrame, pd.DataFrame]:
    df1 = pd.read_csv("main1.csv")
    df2 = pd.read_csv("main2.csv")
    df3 = pd.read_csv("main3.csv")
    return (df1, df2, df3)

In [25]:
BLOCK_NAMES: int = 3


def _combine_duplicates(df):
    pass
    
def _name_processing(text):
    pass

def _phone_processing(text):
    pass

def _email_processing(text):
    pass

def _address_processing(text):
    pass

def _birthdate_processing(text):
    pass

def block_data(df: pd.DataFrame, column: str):
    df[f'{column}_block'] = df[column].apply(lambda x: x[:BLOCK_NAMES])
    return df

def preprocessing(dfs: pd.DataFrame):
    cols1 = ['full_name', 'phone']
    cols2 = ['last_name', 'first_name, 'email']
    cols3 = ['name', 'address']
    
    for column in cols1:
        if column == 'full_name':
            df[column] = df[column].apply(_name_processing)
        elif column == 'phone':
            df[column] = df[column].apply(_phone_processing)
        elif column == 'email':
            df[column] = df[column].apply(_email_processing)
        elif column == 'address':
            df[column] = df[column].apply(_address_processing)
        elif column == 'birthdate':
            df[column] = df[column].apply(_birthdate_processing)
        else:
            pass
    return df

In [ ]:
model = SentenceTransformer('paraphrase-MiniLM-L6-v2')

In [ ]:
### steps
# for df in [df1, df2, df3]:
#     for each block
#        df_processed = preprocessing(df, columns for each dataset)
#        get embeddings for columns in each dataset
#        1)concat embedds and DBSCAN(eps=0.5, min_sample=1)
#        2) cos sim 
# для каждого блока по полям ищем похожих по косинус сходства векторов
# 
#
#
#

In [214]:
df1_clean = pd.read_csv('main1cleaned.csv', dtype={"phone": str})
df1_clean.head()

,uid,full_name,email,address,sex,birthdate,phone
0,8357db00-b4ce-4c33-a66e-1842744d0ce4,балкибаев углы мамасаид карлито,mamasaid_balkibaev0@example.ru,"г. урус-мартан, пер. шмидта, д. 233 к. 6/4, 63...",m,1954-06-15,206450526
1,a40182ff-7b3c-4fe4-9455-505414bf6f1c,игинова ютта кондратьевнп,jutta_iginova1@yandex.ru,"бул. есенина, д. 2/3 стр. 180, 881977",f,1981-11-24,1971286327
2,2b401a4a-33c0-47e0-b527-300e17b3a8da,миродилов зафер роберт,zafer_mirodilov2@mail.ru,"ст. красногорск (моск.), ул. урожайная, д. 4/9...",m,1954-07-03,5857627855
3,a844b52d-6fc8-4aac-9180-092cf3cba7b0,миродилов зафер роберт,zafer_mirodilov2mail,"ст. красногорск (моск.), ул. урожайная, д. 4/9...",m,954-01-01,5857627855
4,95b72c05-1620-4f55-b3d4-c5151ff83184,боровая шахзода николаевна,shahzoda_borovaja3@gmail.com,"к. устюжна, ш. инженерное, д. 1/7 к. 4, 782855",f,1989-07-15,175118662

In [217]:
df2_clean = pd.read_csv("main2cleaned.csv", dtype={"phone": str})
df2_clean.head()

,uid,first_name,middle_name,last_name,birthdate,phone,address,full_name
0,4a29f87f-9837-4be3-ab11-f496e4d803ef,хуа,дмитриевна,жинкина,1999-01-01,4165807296,"алл. бедорусская, д. э2 к. 3/8, 87633я",хуа дмитриевна жинкина
1,4e3881a2-5718-4bfc-9b78-a0f4c56401e2,геннадий,самеевич,отсутствует,1986-05-27,1974653,"с. вилюйск, ул. ульяновская, д. 5 стр. 46, 257850",геннадий самеевич отсутствует
2,3e299961-7f71-4f00-b7b9-0a6fe1e4c338,наврузжон,ярславович,мирхалилов,1986-06-23,3676970,"ст. щельяюр, пер. мельничный, д. 1 к. 7, 897634",наврузжон ярславович мирхалилов
3,1f49c68b-4098-4943-b641-8d3065af064f,кахраман,даньялоович,отсутствует,990-01-01,5790005899,"город зарайск, пр. шолохова, дом 4/7, 500782",кахраман даньялоович отсутствует
4,a7cf4fde-2d56-4c4a-98b3-6be7174f6468,мария,нет,усманов,1962-01-21,4568898290,"п. дудинка, ш. речное, д. 8, 722100",мария нет усманов

In [218]:
df3_clean = pd.read_csv("main3cleaned.csv")
df3_clean.head()

,uid,name,email,birthdate,sex
0,9185f879-6289-4ad6-9cb0-ed7cb6cb652b,мамасаид ьадкибаев,mamasaid_balkibaev0@example.ru,9145-06-15,m
1,289fcf9e-af05-43cf-a6d4-1d1d3cf5131f,ютта игинова,jutta_ihinova1;yanddx,1981-11-24,f
2,c2b04755-ebd8-4625-b8bb-4131ca049415,зафер миродилов,zafer_mirodilov2@mail.ru,1954-09-28,m
3,49978ae8-51fe-4a74-908e-22ec9e693855,шахзода боровая,shahzoda_borovaja3@gmail.com,2989-07-15,f
4,75e199c5-86fa-4d3b-b1ea-783ecc26b021,нурсулу курбонова,nursulu_kurbonova4@example.org,2000-10-21,f

In [248]:
def phone_block(x):
    if len(str(x)) >= 10:
        return str(x)[:2]
    else:
        return 0

def full_name_block(x):
    return str(x).split(' ')[0][:3]

In [225]:
df1_clean['phone_block'] = df1_clean['phone'].apply(phone_block)
df1_clean['full_name_block'] = df1_clean['full_name'].apply(full_name_block)
df1_clean.head()

,uid,full_name,email,address,sex,birthdate,phone,phone_block,full_name_block
0,8357db00-b4ce-4c33-a66e-1842744d0ce4,балкибаев углы мамасаид карлито,mamasaid_balkibaev0@example.ru,"г. урус-мартан, пер. шмидта, д. 233 к. 6/4, 63...",m,1954-06-15,206450526,0,бал
1,a40182ff-7b3c-4fe4-9455-505414bf6f1c,игинова ютта кондратьевнп,jutta_iginova1@yandex.ru,"бул. есенина, д. 2/3 стр. 180, 881977",f,1981-11-24,1971286327,19,иги
2,2b401a4a-33c0-47e0-b527-300e17b3a8da,миродилов зафер роберт,zafer_mirodilov2@mail.ru,"ст. красногорск (моск.), ул. урожайная, д. 4/9...",m,1954-07-03,5857627855,58,мир
3,a844b52d-6fc8-4aac-9180-092cf3cba7b0,миродилов зафер роберт,zafer_mirodilov2mail,"ст. красногорск (моск.), ул. урожайная, д. 4/9...",m,954-01-01,5857627855,58,мир
4,95b72c05-1620-4f55-b3d4-c5151ff83184,боровая шахзода николаевна,shahzoda_borovaja3@gmail.com,"к. устюжна, ш. инженерное, д. 1/7 к. 4, 782855",f,1989-07-15,175118662,0,бор

In [410]:
def get_embedding(text):
    return model.encode(text)

def process_group(group):
    # group['full_name_embedding'] = group['full_name'].apply(get_embedding)
    group['phone_embedding'] = group['phone'].apply(get_embedding)
    group['email_embedding'] = group['email'].apply(get_embedding)
    # group['address_embedding'] = group['address'].apply(get_embedding)
    # group['birthdate_embedding'] = group['birthdate'].apply(get_embedding)

    group['combined_embedding'] = group.apply(
        lambda row: np.concatenate(
            [row['email_embedding'], row['phone_embedding']]
        ), axis=1
    )

    embeddings = np.vstack(group['combined_embedding'].values)
    similarity_matrix = cosine_similarity(embeddings)

    threshold = 0.8

    group['similar_uids'] = [[] for _ in range(len(group))]

    group_indices = group.index.tolist()

    for i in range(len(group)):
        for j in range(i + 1, len(group)):  # Сравниваем только правую часть матрицы
            if similarity_matrix[i, j] > threshold:
                uid_1 = group.iloc[i]['uid']
                uid_2 = group.iloc[j]['uid']
                
                group.at[group_indices[i], 'similar_uids'].append(uid_1)
                group.at[group_indices[i], 'similar_uids'].append(uid_2)
                group.at[group_indices[j], 'similar_uids'].append(uid_1)
                group.at[group_indices[j], 'similar_uids'].append(uid_2)
                
    return group[['full_name', "email", 'phone', 'birthdate', 'uid', 'similar_uids']]

In [411]:
%%time
a = df1_clean.head(10_000).groupby(['full_name_block', 'phone_block']).apply(process_group)
a['len'] = a.similar_uids.apply(lambda x: len(x))
print(a.shape)
a.head()

(10000, 7)
CPU times: user 1min 55s, sys: 10.5 s, total: 2min 5s
Wall time: 2min 42s

                                                                    full_name  \
full_name_block phone_block
а               0           5389                               а кабдоллоевич
                40          8889  а светлана александровна углы александровна
                92          4925              а сабоат кулматовна  кулматовна
а\nд            63          7322                  а\nда\nов хасанджон хе\nрик
а\nо            65          2210          а\nотзода гу\nжа\nбила атамуратовна

                                                                 email  \
full_name_block phone_block
а               0           5389               a_shpeht6195@yandex.net
                40          8889             svetlana_a10277@yandex.ru
                92          4925              saboat_a5634@example.com
а\nд            63          7322      hasandzhon_abdalov8484@gmail.com
а\nо            65          2210  gulzhambila_barotzoda2537example.org

                                       phone   birthdate  \
full_name_block phone_block
а               0           5389       29314  1992-03-22
                40          8889  4081495200  1969-02-13
                92          4925  9262261466  2976-06-08
а\nд            63          7322  6388380671  1949-02-08
а\nо            65          2210  6541510248  2891-05-19

                                                                   uid  \
full_name_block phone_block
а               0           5389  e9d613e4-6726-4926-b6a3-bee9708f93b4
                40          8889  01a3b13b-7fef-4a2a-997d-8659a575fb8e
                92          4925  969f2bb5-6e68-4100-a89e-6724a7cf4b4c
а\nд            63          7322  2030234a-ad0d-4705-ab14-0f3dac302a90
а\nо            65          2210  f15afdf5-99e3-45c8-9f00-c3a7f87eebaa

                                 similar_uids  len
full_name_block phone_block
а               0           5389           []    0
                40          8889           []    0
                92          4925           []    0
а\nд            63          7322           []    0
а\nо            65          2210           []    0

In [413]:
df1[df1.uid.isin(a[a['len'] > 0].sample()['similar_uids'].values[0])]

,uid,full_name,email,address,sex,birthdate,phone
1662,3247cc70-ae88-4841-a38e-34d5a1105594,Т-ОРРЕС ПИН МИРЛАНОВРА,pin_torres1898@mail.ru,"ст. Вилюйск, пр. Советов, д. 6/2, 752225",f,1997-08-21,+79581777323
1679,f610044e-c5bc-4819-acf9-0db31043e2ca,ТОРРЕС Огли ПИН МИРЛАНОВНА,pin_torres1z98@mail.ru,"пр. Советов,ст. Вилюйск, д. 6/2, 752225",f,2997-01-01,89584777323

In [414]:
df1[df1.uid.isin(a[a['len'] > 0].sample()['similar_uids'].values[0])]

,uid,full_name,email,address,sex,birthdate,phone
9216,9bf6e3c4-ca12-43aa-8314-30f5dd35cdbc,ПЕЧЕРСКАЯ АННА САРА,anna_pecherskaja10675@yandex.org,"ст. Кижи, пер. Розы Люксембург, д. 305 стр. 8/...",f,998-12-15,83995436129
9233,0891bff6-a363-4e9c-95b1-681b3bc7fc7e,ПЕЧЕРСКАЯ Огли АННА САРА,anna_pecherskaja10675@yandex.ru,"ст. Кижи, пер. Розы Люксембург, д. 305 стр. 8/...",f,1998-01-01,+73995436129

In [432]:
def aggregate_similar_users(group):
    similar_uids_set = set(group['uid'].values)
    
    full_name = group['full_name'].iloc[0]
    
    phone = group.loc[group['phone'].str.len().idxmax()]['phone']
    
    email = group.loc[group['email'].str.len().idxmax()]['email']
    
    birthdate = group.loc[group['birthdate'].str.len().idxmax()]['birthdate']
    
    uid = group['uid'].iloc[0]
    return pd.Series({
        'full_name': full_name, 
        'phone': phone,
        'email': email,
        'birthdate': birthdate,
        'uid': uid})


def deduplicate_by_similarity(df):
    df['similar_uids'] = df['similar_uids'].apply(lambda x: tuple(sorted(set(x))))
    
    deduped_df = df.groupby('similar_uids').apply(aggregate_similar_users).reset_index(drop=True)
    
    return deduped_df

In [433]:
result_df_a = deduplicate_by_similarity(a)
print(result_df_a.shape)
result_df_a.head()

(225, 5)

,full_name,phone,email,birthdate,uid
0,а кабдоллоевич,4081495200,abduhalilhamidzhonovi_rasulov11511@example.com,10179-03-04,e9d613e4-6726-4926-b6a3-bee9708f93b4
1,сыроватка ганиулы киемоввич,5086490360,ganiuly_syrovatka4699@example.org,1956-01-10,00739b6f-72e0-4461-a1dd-cf6548a374c4
2,бебутов лап каемович угли каемович,1107842271,lap_bebutov2246@gmail.com,1959-12-24,00b1c6f5-fa3c-4fd8-9898-d5e2a2a1f15d
3,белодед лай амангалиевна огли амангалиевна,5875948717,laj_beloded10632@bk.ru,1976-07-03,01a1b754-83a3-4fa4-bf8c-6f33a3b8ee2c
4,берг отто семенович,4967651395,otto_berg2200@example.net,2969-01-23,01cbb1d0-53ee-4b51-ae8b-670a5079ab8d

In [417]:
df2_clean['phone_block'] = df2_clean['phone'].apply(phone_block)
df2_clean['full_name_block'] = df2_clean['full_name'].apply(full_name_block)
df2_clean.head()

,uid,first_name,middle_name,last_name,birthdate,phone,address,full_name,phone_block,full_name_block
0,4a29f87f-9837-4be3-ab11-f496e4d803ef,хуа,дмитриевна,жинкина,1999-01-01,4165807296,"алл. бедорусская, д. э2 к. 3/8, 87633я",хуа дмитриевна жинкина,41,хуа
1,4e3881a2-5718-4bfc-9b78-a0f4c56401e2,геннадий,самеевич,отсутствует,1986-05-27,1974653,"с. вилюйск, ул. ульяновская, д. 5 стр. 46, 257850",геннадий самеевич отсутствует,0,ген
2,3e299961-7f71-4f00-b7b9-0a6fe1e4c338,наврузжон,ярславович,мирхалилов,1986-06-23,3676970,"ст. щельяюр, пер. мельничный, д. 1 к. 7, 897634",наврузжон ярславович мирхалилов,0,нав
3,1f49c68b-4098-4943-b641-8d3065af064f,кахраман,даньялоович,отсутствует,990-01-01,5790005899,"город зарайск, пр. шолохова, дом 4/7, 500782",кахраман даньялоович отсутствует,57,ках
4,a7cf4fde-2d56-4c4a-98b3-6be7174f6468,мария,нет,усманов,1962-01-21,4568898290,"п. дудинка, ш. речное, д. 8, 722100",мария нет усманов,45,мар

In [368]:
def process_group(group):
    # group['full_name_embedding'] = group['full_name'].apply(get_embedding)
    group['phone_embedding'] = group['phone'].apply(get_embedding)
    group['full_name_embedding'] = group['full_name'].apply(get_embedding)
    group['birthdate_embedding'] = group['birthdate'].apply(get_embedding)

    group['combined_embedding'] = group.apply(
        lambda row: np.concatenate(
            [row['full_name_embedding'], row['phone_embedding'], row['birthdate_embedding']]
        ), axis=1
    )

    embeddings = np.vstack(group['combined_embedding'].values)
    similarity_matrix = cosine_similarity(embeddings)

    threshold = 0.9

    group['similar_uids'] = [[] for _ in range(len(group))]

    group_indices = group.index.tolist()

    for i in range(len(group)):
        for j in range(i + 1, len(group)):  # Сравниваем только правую часть матрицы
            if similarity_matrix[i, j] > threshold:
                uid_1 = group.iloc[i]['uid']
                uid_2 = group.iloc[j]['uid']
                
                group.at[group_indices[i], 'similar_uids'].append(uid_1)
                group.at[group_indices[i], 'similar_uids'].append(uid_2)
                group.at[group_indices[j], 'similar_uids'].append(uid_1)
                group.at[group_indices[j], 'similar_uids'].append(uid_2)
                
    return group[['full_name', 'phone', 'birthdate', 'uid', 'similar_uids']]

In [418]:
df2.head()

,uid,first_name,middle_name,last_name,birthdate,phone,address
0,fd0eb198-eeef-4ff9-a983-26dd9aebb084,МАМАСАИД,КАРЛИТО,БAЛKИБАEВ,1954-06-15,8 (020) 6450526,"г. Урус-Мартан, пер. Шмидта, д. 233 к. 6/4, 63..."
1,7ac130fe-690e-4e39-9b25-b141095f3eec,ЗАФЕР,РОБЕРТ,МИИРОДИЛОВ,1954-07-03,+7 (585) 762 7855,"ст. Красногорск (Моск.), ул. Урожайная, д. 4/9..."
2,f564db39-b7b1-4643-8d24-4759d5ba6ba5,ШАХЗОДА,НИКОЛАЕВНА,БОРОВАЯ,1989-07-15,511-86-62,"к. Устюжна, ш. Инженерное, д. 1/7 к. 4, 782855"
3,93c32877-6cf0-48f9-bb1e-c67794f08541,НУРСУЛУ,Неетт,КУРБОНОВА,2000-10-21,+7 (180) 759-21-51,"клх Кулу, пер. Кирова, д. 8 стр. 51, 713661"
4,a207993d-185f-4b86-bda6-6ce2c0c6a0ff,ЮРРИЙ,ЯКУП,КРИЛОВ,1965-05-31,66576,"с. Солнечногорск, ш. Краснопартизанское, д. 83..."

In [369]:
%%time
b = df2_clean.head(1000).groupby(['full_name_block', 'phone_block']).apply(process_group)
b['len'] = b.similar_uids.apply(lambda x: len(x))
result_df_b = deduplicate_by_similarity(b)
result_df_b.head()

CPU times: user 16.5 s, sys: 1.74 s, total: 18.2 s
Wall time: 23 s

,full_name,phone,birthdate,uid
0,\nркк шадогглан оглы шадоглан солиев,3757381978,10619-08-07,394acaa0-f146-4245-b65c-d6956fa650e7
1,нет нет нурболот азизкулович соуза,821841741,1986-01-07,0720709f-7607-4c32-bacc-771548e20723
2,александр уркиса углы уркиса хужамов,4189107,1985-12-19,a0ac9b69-73dc-4f76-824f-f7b414da6e2b
3,татьяна лонидвн музаффарова,0966021895,1994-10-01,2fed6c6a-7bd5-412a-8f36-4ce3c20896e5
4,отсутствует отсутствует колева тургалиевна дюс...,9366578,1993-09-24,31f9ed79-9bc4-4c49-9e36-698046e9cc72

In [370]:
b['len'] = b.similar_uids.apply(lambda x: len(x))

In [378]:
df2[df2.uid.isin(b[b['len'] > 0].sample()['similar_uids'].values[0])]

,uid,first_name,middle_name,last_name,birthdate,phone,address
7071592,7f2d90fd-32f5-45a5-ad2e-b670cac9ee3b,Отсутств\nет,Отсутствует,5NAJAMVAJa GIESOVICh NAZAROV,2003-06-25,417 7060,"пр. Урожайный, д. 6 к. 3/5, 855878"
8964485,31f9ed79-9bc4-4c49-9e36-698046e9cc72,Отсутствует,Отсутствует,КОЛЕВА ТУРГАЛИЕВНА ДЮСЮМБАЕВА,1993-09-24,936-65-78,"пер. Степана Разина, д. 94 стр. 96, 512428"

In [379]:
df3_clean['full_name_block'] = df3_clean['full_name'].apply(full_name_block)
df3_clean.head()

,uid,full_name,email,birthdate,sex,full_name_block
0,9185f879-6289-4ad6-9cb0-ed7cb6cb652b,мамасаид ьадкибаев,mamasaid_balkibaev0@example.ru,9145-06-15,m,мам
1,289fcf9e-af05-43cf-a6d4-1d1d3cf5131f,ютта игинова,jutta_ihinova1;yanddx,1981-11-24,f,ютт
2,c2b04755-ebd8-4625-b8bb-4131ca049415,зафер миродилов,zafer_mirodilov2@mail.ru,1954-09-28,m,заф
3,49978ae8-51fe-4a74-908e-22ec9e693855,шахзода боровая,shahzoda_borovaja3@gmail.com,2989-07-15,f,шах
4,75e199c5-86fa-4d3b-b1ea-783ecc26b021,нурсулу курбонова,nursulu_kurbonova4@example.org,2000-10-21,f,нур

In [422]:
def process_group(group):
    group['birthdate'] = group['birthdate'].astype(str)
    group['email_embedding'] = group['email'].apply(get_embedding)
    group['birthdate_embedding'] = group['birthdate'].apply(get_embedding)

    group['combined_embedding'] = group.apply(
        lambda row: np.concatenate(
            [row['email_embedding'], row['birthdate_embedding']]
        ), axis=1
    )

    embeddings = np.vstack(group['combined_embedding'].values)
    similarity_matrix = cosine_similarity(embeddings)

    threshold = 0.8

    group['similar_uids'] = [[] for _ in range(len(group))]

    group_indices = group.index.tolist()

    for i in range(len(group)):
        for j in range(i + 1, len(group)):  # Сравниваем только правую часть матрицы
            if similarity_matrix[i, j] > threshold:
                uid_1 = group.iloc[i]['uid']
                uid_2 = group.iloc[j]['uid']
                
                group.at[group_indices[i], 'similar_uids'].append(uid_1)
                group.at[group_indices[i], 'similar_uids'].append(uid_2)
                group.at[group_indices[j], 'similar_uids'].append(uid_1)
                group.at[group_indices[j], 'similar_uids'].append(uid_2)
                
    return group[['full_name', 'email', 'birthdate', 'uid', 'similar_uids']]

In [423]:
def aggregate_similar_users(group):
    similar_uids_set = set(group['uid'].values)
    
    full_name = group['full_name'].iloc[0]
    
    email = group.loc[group['email'].str.len().idxmax()]['email']
    
    birthdate = group.loc[group['birthdate'].str.len().idxmax()]['birthdate']
    
    uid = group['uid'].iloc[0]
    return pd.Series({
        'full_name': full_name, 
        'email': email, 
        'birthdate': birthdate,
        'uid': uid})


def deduplicate_by_similarity(df):
    df['similar_uids'] = df['similar_uids'].apply(lambda x: tuple(sorted(set(x))))
    
    deduped_df = df.groupby('similar_uids').apply(aggregate_similar_users).reset_index(drop=True)
    
    return deduped_df

In [424]:
%%time
c = df3_clean.head(1000).groupby(['full_name_block']).apply(process_group)
c['len'] = c.similar_uids.apply(lambda x: len(x))
result_df_c = deduplicate_by_similarity(c)
result_df_c.head()

CPU times: user 11 s, sys: 1.08 s, total: 12.1 s
Wall time: 15.9 s

,full_name,email,birthdate,uid
0,а\nтем,mahabat_konstantinovskajatatjana506@example.ru,1966-01-01,2bef3b26-a899-43dd-91e0-1d25629481d5
1,дмитрий чистяков,dmitrij_chistjakov647@example.com,1969-08-11,01caf994-2f07-4dab-871a-fd3ff87c1a82
2,лариса филоненко,larisa_filonenko623@example.ru,1999-11-28,01fbce79-cf93-4da8-a7cd-222b484e063e
3,татьяна крикля,tatjana_kriklja806yandex,1989-02-12,0256df0d-8313-458b-b234-f43b1271d920
4,татьяна хейне,tatjana_hejne751@yandex,1987-06-24,217f5b79-ef87-4596-a553-1c825178fdf7

In [427]:
df3[df3.uid.isin(c[c['len'] > 0].sample()['similar_uids'].values[0])]

,uid,name,email,birthdate,sex
245,b0866ce6-8f2c-4259-94c9-95a01a0ca5a5,СИМА ЦАРИКЕВИЧ,sima_tsarikevich243@example.com,2002-01-25,f
259,059822a4-b2a6-4564-a3ae-2d95b8bfa69b,СИММА TsARI0KKVICh,sima_tsarikevich243@example,3002-01-25,f

In [434]:
result_df_a.head()

,full_name,phone,email,birthdate,uid
0,а кабдоллоевич,4081495200,abduhalilhamidzhonovi_rasulov11511@example.com,10179-03-04,e9d613e4-6726-4926-b6a3-bee9708f93b4
1,сыроватка ганиулы киемоввич,5086490360,ganiuly_syrovatka4699@example.org,1956-01-10,00739b6f-72e0-4461-a1dd-cf6548a374c4
2,бебутов лап каемович угли каемович,1107842271,lap_bebutov2246@gmail.com,1959-12-24,00b1c6f5-fa3c-4fd8-9898-d5e2a2a1f15d
3,белодед лай амангалиевна огли амангалиевна,5875948717,laj_beloded10632@bk.ru,1976-07-03,01a1b754-83a3-4fa4-bf8c-6f33a3b8ee2c
4,берг отто семенович,4967651395,otto_berg2200@example.net,2969-01-23,01cbb1d0-53ee-4b51-ae8b-670a5079ab8d

In [437]:
result_df_b['email'] = ""

In [438]:
result_df_b.head()

,full_name,phone,birthdate,uid,email
0,\nркк шадогглан оглы шадоглан солиев,3757381978,10619-08-07,394acaa0-f146-4245-b65c-d6956fa650e7,
1,нет нет нурболот азизкулович соуза,821841741,1986-01-07,0720709f-7607-4c32-bacc-771548e20723,
2,александр уркиса углы уркиса хужамов,4189107,1985-12-19,a0ac9b69-73dc-4f76-824f-f7b414da6e2b,
3,татьяна лонидвн музаффарова,0966021895,1994-10-01,2fed6c6a-7bd5-412a-8f36-4ce3c20896e5,
4,отсутствует отсутствует колева тургалиевна дюс...,9366578,1993-09-24,31f9ed79-9bc4-4c49-9e36-698046e9cc72,

In [439]:
result_df_c['phone'] = ""

In [440]:
result_df_c.head()

,full_name,email,birthdate,uid,phone
0,а\nтем,mahabat_konstantinovskajatatjana506@example.ru,1966-01-01,2bef3b26-a899-43dd-91e0-1d25629481d5,
1,дмитрий чистяков,dmitrij_chistjakov647@example.com,1969-08-11,01caf994-2f07-4dab-871a-fd3ff87c1a82,
2,лариса филоненко,larisa_filonenko623@example.ru,1999-11-28,01fbce79-cf93-4da8-a7cd-222b484e063e,
3,татьяна крикля,tatjana_kriklja806yandex,1989-02-12,0256df0d-8313-458b-b234-f43b1271d920,
4,татьяна хейне,tatjana_hejne751@yandex,1987-06-24,217f5b79-ef87-4596-a553-1c825178fdf7,

In [443]:
result = pd.concat([result_df_a, result_df_b, result_df_c], axis=0)
result.head()

,full_name,phone,email,birthdate,uid
0,а кабдоллоевич,4081495200,abduhalilhamidzhonovi_rasulov11511@example.com,10179-03-04,e9d613e4-6726-4926-b6a3-bee9708f93b4
1,сыроватка ганиулы киемоввич,5086490360,ganiuly_syrovatka4699@example.org,1956-01-10,00739b6f-72e0-4461-a1dd-cf6548a374c4
2,бебутов лап каемович угли каемович,1107842271,lap_bebutov2246@gmail.com,1959-12-24,00b1c6f5-fa3c-4fd8-9898-d5e2a2a1f15d
3,белодед лай амангалиевна огли амангалиевна,5875948717,laj_beloded10632@bk.ru,1976-07-03,01a1b754-83a3-4fa4-bf8c-6f33a3b8ee2c
4,берг отто семенович,4967651395,otto_berg2200@example.net,2969-01-23,01cbb1d0-53ee-4b51-ae8b-670a5079ab8d

In [444]:
result['phone_block'] = result['phone'].apply(phone_block)
result['full_name_block'] = result['full_name'].apply(full_name_block)
result.head()

,full_name,phone,email,birthdate,uid,phone_block,full_name_block
0,а кабдоллоевич,4081495200,abduhalilhamidzhonovi_rasulov11511@example.com,10179-03-04,e9d613e4-6726-4926-b6a3-bee9708f93b4,40,а
1,сыроватка ганиулы киемоввич,5086490360,ganiuly_syrovatka4699@example.org,1956-01-10,00739b6f-72e0-4461-a1dd-cf6548a374c4,50,сыр
2,бебутов лап каемович угли каемович,1107842271,lap_bebutov2246@gmail.com,1959-12-24,00b1c6f5-fa3c-4fd8-9898-d5e2a2a1f15d,11,беб
3,белодед лай амангалиевна огли амангалиевна,5875948717,laj_beloded10632@bk.ru,1976-07-03,01a1b754-83a3-4fa4-bf8c-6f33a3b8ee2c,58,бел
4,берг отто семенович,4967651395,otto_berg2200@example.net,2969-01-23,01cbb1d0-53ee-4b51-ae8b-670a5079ab8d,49,бер

In [445]:
def process_group(group):
    group['phone_embedding'] = group['phone'].apply(get_embedding)
    group['email_embedding'] = group['email'].apply(get_embedding)

    group['combined_embedding'] = group.apply(
        lambda row: np.concatenate(
            [row['email_embedding'], row['phone_embedding']]
        ), axis=1
    )

    embeddings = np.vstack(group['combined_embedding'].values)
    similarity_matrix = cosine_similarity(embeddings)

    threshold = 0.8

    group['similar_uids'] = [[] for _ in range(len(group))]

    group_indices = group.index.tolist()

    for i in range(len(group)):
        for j in range(i + 1, len(group)):  # Сравниваем только правую часть матрицы
            if similarity_matrix[i, j] > threshold:
                uid_1 = group.iloc[i]['uid']
                uid_2 = group.iloc[j]['uid']
                
                group.at[group_indices[i], 'similar_uids'].append(uid_1)
                group.at[group_indices[i], 'similar_uids'].append(uid_2)
                group.at[group_indices[j], 'similar_uids'].append(uid_1)
                group.at[group_indices[j], 'similar_uids'].append(uid_2)
                
    return group[['full_name', "email", 'phone', 'birthdate', 'uid', 'similar_uids']]

In [447]:
%%time
res = result.groupby(['full_name_block', 'phone_block']).apply(process_group)
# final = deduplicate_by_similarity(res)
res.head()

CPU times: user 3.98 s, sys: 400 ms, total: 4.38 s
Wall time: 5.66 s

,,,full_name,email,phone,birthdate,uid,similar_uids
full_name_block,phone_block,,,,,,,
\nрк,37,0,\nркк шадогглан оглы шадоглан солиев,,3757381978,10619-08-07,394acaa0-f146-4245-b65c-d6956fa650e7,[]
а,40,0,а кабдоллоевич,abduhalilhamidzhonovi_rasulov11511@example.com,4081495200,10179-03-04,e9d613e4-6726-4926-b6a3-bee9708f93b4,[]
а\nт,0,0,а\nтем,mahabat_konstantinovskajatatjana506@example.ru,,1966-01-01,2bef3b26-a899-43dd-91e0-1d25629481d5,[]
аба,98,139,абасова ирина ивановна,irina_abasova6352@gmail.net,9849003940,1996-04-23,8a164285-cb76-4143-806d-67e96c55f68a,[]
абд,12,106,абдуллоев тимур жавохир,igor_abdukarimov3069@gmail.com,1222098902,1950-08-15,450556ff-8f5b-46c6-bfc6-b5378291bf5d,[]

In [448]:
res['len'] = res['similar_uids'].apply(lambda x: len(x))

In [449]:
res[res['len'] > 0]

                                                        full_name  \
full_name_block phone_block
абд             87          64   абдулхвким маргарт абдуманоновна
                            65        абдуулллаев тапио ишбаевиич
                            165          абдуллаев тапио ишбаевич
але             0           9                    александр валиев
                            10                    александр кнорп
...                                                           ...
тат             0           65                  татьяна султонова
                            76                      татьяна дивья
хус             0           14     хусаинов николай александрович
                            15      хусннов огли александр войчех
                            16           хусенов александр войчех

                                                             email  \
full_name_block phone_block
абд             87          64   margart_abdulhakim10643@yandex.ru
                            65       tapio_abdullaev3636@yandex.ru
                            165       tapio_abdullaev3636yandex.ru
але             0           9            aleksandr_valiev435@bk.ru
                            10       aleksandr_knorp378@example.ru
...                                                            ...
тат             0           65      tatjana_sultonova183@yandex.ru
                            76         tatjana_divja28@example.net
хус             0           14        nikolaj_husainov4532@mail.ru
                            15       aleksandr_husenov2076@mail.ru
                            16       aleksandr_husenov2076@mail.ru

                                      phone   birthdate  \
full_name_block phone_block
абд             87          64   8733529204  2000-12-24
                            65   8726660656  2001-01-19
                            165  8726660656  2001-01-19
але             0           9                1974-01-01
                            10               1992-01-01
...                                     ...         ...
тат             0           65               1953-10-13
                            76               1958-03-15
хус             0           14    865124275  1989-04-06
                            15      4765277  2981-01-01
                            16        65277  1981-04-10

                                                                  uid  \
full_name_block phone_block
абд             87          64   2b8bdf6d-167b-4360-b47d-c8732321749e
                            65   79b7d3a1-f6f4-453c-8b35-2c7a0c21866f
                            165  a883dc2e-06d8-4222-99bc-5828dbaf5024
але             0           9    06080ab2-caf6-4de8-9f51-04022fdaa7a3
                            10   643c699d-b62b-41b3-aa90-583504570e35
...                                                               ...
тат             0           65   df9a929e-7217-48ea-b866-699571ea939f
                            76   b5cf4dbf-f899-4c39-9dd3-412697ba7179
хус             0           14   636fceca-a8fd-4938-ba25-757f157a9b1d
                            15   0775e8de-bec7-4ca3-ab23-28ffc93b300f
                            16   b11526ac-be81-4576-9460-6bef78657841

                                                                      similar_uids  \
full_name_block phone_block
абд             87          64   [2b8bdf6d-167b-4360-b47d-c8732321749e, 79b7d3a...
                            65   [2b8bdf6d-167b-4360-b47d-c8732321749e, 79b7d3a...
                            165  [79b7d3a1-f6f4-453c-8b35-2c7a0c21866f, a883dc2...
але             0           9    [06080ab2-caf6-4de8-9f51-04022fdaa7a3, 643c699...
                            10   [06080ab2-caf6-4de8-9f51-04022fdaa7a3, 643c699...
...                                                                            ...
тат             0           65   [0256df0d-8313-458b-b234-f43b1271d920, df9a929...
                            76   [0256df0d-8313-458b-b234-f43b1271d920, b5cf4db...
хус             0           14   [636fceca-a8fd-4938-ba25-757f157a9b1d, 0775e8d...
                            15   [636fceca-a8fd-4938-ba25-757f157a9b1d, 0775e8d...
                            16   [0775e8de-bec7-4ca3-ab23-28ffc93b300f, b11526a...

                                 len
full_name_block phone_block
абд             87          64     2
                            65     4
                            165    2
але             0           9     16
                            10    16
...                              ...
тат             0           65     8
                            76     8
хус             0           14     2
                            15     4
                            16     2

[76 rows x 7 columns]

In [ ]:
for df in [df1_clean, df2_clean, df3_clean]: